 <div class="card container post-list mb-3">
        <div class="card-header row bg-light">
          <div class="col-sm-8" >
            <h5 class="mb-0">
               <a href="/edit/{{post.id}}">{{post.title}}</a>
            </h5>
          </div>
          <div class="col-sm-4 pr-0">
            <button class="btn btn-sm del-btn btn-danger float-right" data-id="{{post.id}}">DELETE</button>
            <button class="btn btn-sm edit-btn btn-warning float-right" data-id="{{post.id}}">EDIT</button>
          </div>
        </div>
        <div class="card-body" contenteditable="true" >
          <p id="edit{{post.id}}" class="card-text">{{post.content}}</p>
        </div>
      </div>
  

    <script src="../js/edit.js"></script>