
{{#each posts as |post| }}
<div class="card container mb-3">
    <div class="card-header p-0 pt-2 row">
      <div class="col-sm-9">
        <h6 class="mb-0 text-left p-0">
          <a href="/post/{{post.id}}">{{post.title}}</a>
        </h6>
      </div>
      <div class="col-sm-3 text-right">
      user: {{user.username}}<br>
      created: {{format_date post.date_created}}
      </div>
    </div>
  <div class="card-body">
    <p class="card-text">{{post.content}}</p>
  </div>
</div>
{{/each}}
